html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px;
}

.game-wrapper {
    height: 100%;
    padding-top: 2em;
    margin-bottom: 15px;
}

.board {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    padding: 10px 20px;
}

.tile {
    background-color: grey;
    border: 2px solid black;
    height: 15em;
    margin: 5px;
    padding: 10px;
}

.piece {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
}

.end-game {
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .game-wrapper {
        height: 75vh;
    }

    .tile {
        height: 5em;
    }
}