html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px;
}

.section {
    margin-top: 2em;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.menu-list {
    background-color: #1f1f1f;
    border: 2px solid black;
    border-radius: 25% 10%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 10% 0;
    width: 50%;
}

.menu-heading {
    margin-bottom: 1em;
}

.menu-button {
    display: block;
    margin: 5px 5%;
    width: 90%;
}

.list-group {
    margin: 10px 0;
}

.game-wrapper {
    height: 100%;
    padding-top: 2em;
    margin-bottom: 15px;
}

.board {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    padding: 10px 20px;
}

.tile {
    background-color: grey;
    border: 2px solid black;
    height: 15em;
    margin: 5px;
    padding: 10px;
}

.piece {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
}

.end-game {
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .game-wrapper {
        height: 75vh;
    }

    .tile {
        height: 5em;
    }

    .menu-heading {
        display: none;
    }
}